<div class="filter-menu">
    <ul>
        <li><input type="checkbox" disabled [(ngModel)]="filterState.productTypes.broadband" (ngModelChange)="onFilterChanged($event)"
            /> Broadband</li>
        <li><input type="checkbox" [(ngModel)]="filterState.productTypes.tv" (ngModelChange)="onFilterChanged($event)" /> TV</li>
        <li><input type="checkbox" [(ngModel)]="filterState.productTypes.mobile" (ngModelChange)="onFilterChanged($event)" />Mobile</li>
    </ul>
    <div *ngIf="filterState.productTypes.broadband">
        <div>Speed</div>
        <select [(ngModel)]="filterState.speed" (ngModelChange)="onFilterChanged($event)">
            <option value="">Any</option>
            <option value="17408">17MB</option>
            <option value="53248">52MB</option>
            <option value="77824">76MB</option>
    </select>
    </div>
    <div *ngIf="filterState.productTypes.mobile">
        <div>Mobile Data</div>
        <select [(ngModel)]="filterState.mobileData" (ngModelChange)="onFilterChanged($event)">
            <option value="">Any</option>
            <option value="4">4GB</option>
            <option value="5">5GB</option>
    </select>
    </div>
</div>